.jumbotron {
  margin: 5% auto;
  text-align: center;

}
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(142, 178, 245);

}
td {
  height:150px;
  width:150px;
  text-align: center;
  font-size: 100px;
}
.text {
  text-align: center;
  font-size: 16pt;
}
table {
  margin: auto auto;
}
table tr:nth-child(odd) {
  background-color: rgb(142, 178, 245);
}
table tr:nth-child(even) {
  background-color: rgb(153, 253, 237)
}

/* table th:nth-child(odd) {
  background color: rgba(217, 248, 156, 0.247)
} */

table th:nth-child(even) {
  background-color: rgba(20, 161, 44, 0.247)
}